.error-container {
    max-width: 80%;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    text-wrap: wrap;
}