.filtering-container {
    display: flex;
    font-size: 1.3rem;
    justify-content: space-around;
    margin: 2px 0;
}

.filtering-container select{
    font-size: 1rem;
    border: none;
    border-radius: 3px;
}
.by-origin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.by-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.origin-filter-values {
    border: 2px solid black;
    margin-top: 2px;
    min-height: 1rem;
}

.filter-options:disabled {
    color: #DEE4E6;
    background-color: #B7C5D2;
    cursor: none;
}

.filter-options:checked {
    background-color: #F1E5D8;
    color: #FE4B00;
}