.formPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #BD92AF;
}

.form-return-button {
    position: relative;
    top: 20px;
    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 25px;
    border: 2px solid #BFE4DE;
    background-color: #FFD160;
    cursor: pointer;
}

.form-return-button:hover {
    border: 2px solid #FFD160;
    background-color: #BFE4DE;
}

.form-return-button:active {
    background-color: #daac4a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}