.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(216, 73, 73, 0.2);
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.pagination-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 8px 14px;
  margin: 0 2px;
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color .2s;
  border: 3px solid #ddd;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(3.8px);
}

.pagination-container button.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #7cbddb;
}

.pagination-container button.disabled { 
  opacity: 0.2;
}
.pagination-container button:hover:not(.active) {background-color: rgb(238, 238, 238);}